*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    box-shadow: 0 0 10px orangered;    
    padding: 20px 0;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

}
.movie{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie p{
    color: white;
    visibility: hidden;
}
.remov{
   display: none;
}
.menu-burger{
    display: block;
}
.menu-caché{
    position: fixed;
    height: 300px;
    width: 100%;
    top: 60px;
    left: 0;
    z-index: 99;
    padding: 60px 0 20px 0;
    background-color: black;
    transition: 2s ease;
}
.menu-caché ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    gap: 30px;
}
.menu-caché ul li a{
    color: white;
    padding: 2px 0;
    position: relative;
}
.menu-caché ul li a::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: orangered;
    transition: all 0.5s ease;

}
.menu-caché ul li a:hover::after{
    width: 100%;
    color: orangered;
}
.active{
    background-color: orangered;
    padding: 10px;
    border-radius: 12px;
    color: white;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header nav ul li a{
    color: white;
    position: relative;
}
header nav ul li a::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: orangered;
    transition: all 0.5s ease;

}
header nav ul li a:hover::after{
    width: 100%;
    color: orangered;
}
header button{
    padding: 15px 30px;
    font-size: 23px;
    color: white;
    background-color: orangered;
    border-radius: 12px;
    border: none;
}
header button:hover {
    color: orangered;
    background-color: white;
    cursor: pointer;
}
.title{
    height: 600px;
    color: white;
}
.title button{
    background-color: orangered;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    color: white;
}
.title button:hover{
    color: orangered;
    background-color: white;
    border: 1px solid orangered;
    cursor: pointer;
}
 .swiper {
     width: 100%;
     height: 100%;
     z-index: 00;
    position: absolute;
    top: 0;
    left: 0;
 }
 .swiper-slide {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .content{
    transform: translateY(50%);
    z-index: 88;
    position: absolute;
    top: 20%;
    left: 100px;
 }
section h1{
    padding: 15px 0px;
}
.container{
    padding-top: 100px;
    background-color: black;
}
.container .text{
    padding: 20px 50px;
}
.text h2{
    padding: 20px;
}
.container .text hr{
    width: 100%;
    border: 2px solid orangered;
    margin-bottom: 20px;
} 
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 45px;
    margin-bottom: 30px;
}
.gallery-item:hover img{
    transform: scaleX(-1);
    transition: all 0.5s ease-in-out;
}
.gallery-item_1:hover img{
    transform: scaleX(-1);
    transition: all 0.5s ease-in-out;
}
.gallery-item img{
    height: 350px;
}
.gallery-item_1 img{
    height: 450px;
}
.gallery-item h3{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.gallery-item p{
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
}
.gallery-item_1{
    flex: 0 0 20em;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}
.gallery-item_1::scroll-marker{
    content: "";
    height: 1em;
    width: 1em;
    background-color: rgba(173, 169, 169, 0.658);
    border-radius: 50%;
}
.gallery-item_1::scroll-marker:target-current{
    background-color: orangered;
}
.gallery-item_1 h3{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.gallery-item_1 p{
    padding-bottom: 30px;
    font-size: 20px;
    color: white;
}
.container_1 .text {
    padding: 20px 60px;
}

.container_1 .text h2 {
    padding: 20px;
    font-size: 40px;
    text-transform: capitalize;
}

.container_1{
    padding-top: 50px;
    background-color: black;
}
.container_1 .text hr {
    width: 100%;
    border: 2px solid orangered;
    margin-bottom: 20px;
}

.gallery_1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    margin: 0 40px 0 40px;
    overflow-x: auto;
    anchor-name: --gallery_1;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}
.gallery_1::scroll-marker-group{
    display: flex;
    justify-content: center;
    gap: .5em;
    margin-top: 50px;
}
.gallery_1::-webkit-scrollbar{
    display: none;
}
.gallery_1::scroll-button(left){
    content: "<";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    font-size: 1em;
    background-color: orangered;
    color: white;
    position: fixed;
    position-anchor: --gallery_1;
    position-area: left center;
    translate: 50%;
}
.gallery_1::scroll-button(right){
    content: ">";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    font-size: 1em;
    background-color: orangered;
    color: white;
    position: fixed;
    position-anchor: --gallery_1;
    position-area: right center;
    translate: -50%;
}
.gallery_1::scroll-button(left):disabled,
.gallery_1::scroll-button(right):disabled{
    opacity: 0.5;
}
.gallery_1::scroll-button(left):hover,.gallery_1::scroll-button(right):hover{
    cursor: pointer;
}
.inscription{
    background-color: black;
    text-align: center;
    padding: 150px 0;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.inscription form{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    width: 43%;
    background-color: white;
}
.inscription input{
    font-size: 24px;
    text-align: left;
    border-radius: 8px;
    border: none;
    position: relative;
    width: 43%;
}
.inscription p{
    font-size: 40px;
    padding-bottom: 40px;
    right: 20px;
}
.inscription button{
    padding: 15px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    border: 1px solid orangered;
    color: white;
    background-color: orangered;
}
.inscription button:hover{
    color: orangered;
    background-color: beige;
    border: 1px solid orangered;
    cursor: pointer;
}
.line{
    padding: 0px 50px;
    background-color: rgb(0, 0, 0);
}
.line hr{
    border: 2px solid orangered;
}
footer{
    background-color: black;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orangered;
    margin-top: 30px;
    margin-bottom: 50px;

}
.end{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
    padding-bottom: 25px;
}
.container .text h2 {
    font-size: 40px;
    text-transform: capitalize;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .content h1 {
     font-size: 75px;
 }
  .content p{
      font-size: 55px;
  }

  /* Responsive mobile  */

@media(max-width: 640px){
    
    header nav ul {
        display: none;
    }
    header{
        justify-content: space-between;
    }
    header button {
        padding: 12px 10px;
        font-size: 14px;
        color: white;
        background-color: orangered;
        border-radius: 12px;
        border: none;
    }
    .title {
        height: 300px;
        color: white;
    }

    .title button {
        background-color: orangered;
        padding: 15px 10px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 12px;
        border: none;
        color: white;
    }
    .content {
        z-index: 88;
        position: absolute;
        top: 13%;
        left: 30px;
    }
    .content h1{
        font-size: 32px;
    }
    .content p{
        font-size: 24px;
    }
    .container {
        padding-top: 50px;
    }
    .container .text {
        padding: 0px 20px;
        margin: 0 20px;
    }

    .container .text h2 {
        font-size: 24px;
        padding: 20px 0 5px 0;
    }

    .container .text hr {
        width: 100%;
        border: 1px solid orangered;
        margin-bottom: 20px;
    }
    .container_1 .text {
        padding: 20px 35px;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 24px;

    }
    .movie p {
        font-weight: bold;
        font-size: 16px;
        visibility: visible;
    }
    .gallery-item img {
        height: 250px;
    }

    .gallery-item h3 {
        padding-top: 10px;
        font-size: 15px;
    }

    .gallery-item p {
        padding-bottom: 20px;
        font-size: 14px;
    }
    .gallery {
        gap: 10px;
        padding: 0;
        margin: 0 24px;
        display: flex;
        justify-content: start;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .gallery-item_1 {
        flex: 0 0 10em;
        scroll-behavior: smooth;
        scroll-snap-align: start;
    }

    .gallery-item_1::scroll-marker {
        content: "";
        height: .5em;
        width: .5em;
        background-color: rgba(173, 169, 169, 0.658);
        border-radius: 50%;
    }
    .gallery-item_1 h3 {
        padding-top: 10px;
        font-size: 20px;
    }

    .gallery-item_1 p {
        padding-bottom: 10px;
        font-size: 14px;
    }

    .container_1 {
        padding-top: 30px;
    }


    .container_1 .text hr {
        border: 1px solid orangered;
        margin-bottom: 20px;
    }
    .container_1 .text h2 {
        font-size: 24px;
        padding: 20px 0 5px 0;
    }

    .gallery_1 {
        gap: 10px;
        margin: 0 30px 30px 30px;
    }

    .gallery_1::scroll-marker-group {
        gap: .2em;
    }

    .gallery_1::scroll-button(left) {
        height: 40px;
        width: 40px;
        font-size: 14px;
        
    }

    .gallery_1::scroll-button(right) {
        height: 40px;
        width: 40px;
        font-size: 14px;
    }
    .gallery-item_1 img {
        height: 300px;
    }
    .inscription {
        padding: 60px 0;
    }

    .inscription form {
        padding: 10px;
        border-radius: 12px;
        width: 60%;
    }

    .inscription input {
        font-size: 12px;
        border-radius: 8px;
        border: none;
        position: relative;
        width: 60%;
    }

    .inscription p {
        font-size: 24px;
        padding-bottom: 40px;
        right: 20px;
    }

    .inscription button {
        padding: 7px 15px;
        font-size: 12px;
    }

    .line {
        padding: 0px 24px;
        background-color: rgb(0, 0, 0);
    }

    .line hr {
        border: 1px solid orangered;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 40px;

    }

}

/* Responsive Tablets */

@media(max-width: 768px){
    header nav ul {
        display: none;
    }
    header button {
        padding: 12px 10px;
        font-size: 14px;
        color: white;
        background-color: orangered;
        border-radius: 12px;
        border: none;
    }
    .title {
        height: 330px;
        color: white;
    }
    .content {
        z-index: 88;
        position: absolute;
        top: 13%;
        left: 30px;
    }
    .content h1{
        font-size: 32px;
    }
    .content p{
        font-size: 32px;
    }
    .container {
        padding-top: 50px;
    }
    .container .text {
        padding: 0px 20px;
        margin: 0 20px;
    }

    .container .text h2 {
        font-size: 24px;
        padding: 20px 0 5px 0;
    }

    .container .text hr {
        width: 100%;
        border: 1px solid orangered;
        margin-bottom: 20px;
    }
    .container_1 .text {
        padding: 20px 35px;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 24px;

    }
    .movie p {
        font-weight: bold;
        font-size: 16px;
        visibility: visible;
    }
    .gallery-item img {
        height: 250px;
    }

    .gallery-item h3 {
        padding-top: 10px;
        font-size: 15px;
    }

    .gallery-item p {
        padding-bottom: 10px;
        font-size: 14px;
    }
    .gallery {
        gap: 10px;
        padding: 0;
        margin: 0 24px;
        display: flex;
        justify-content: start;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .gallery-item_1 {
        flex: 0 0 10em;
        scroll-behavior: smooth;
        scroll-snap-align: start;
    }

    .gallery-item_1::scroll-marker {
        content: "";
        height: .5em;
        width: .5em;
        background-color: rgba(173, 169, 169, 0.658);
        border-radius: 50%;
    }
    .gallery-item_1 h3 {
        padding-top: 10px;
        font-size: 20px;
    }

    .gallery-item_1 p {
        padding-bottom: 10px;
        font-size: 14px;
    }

    .container_1 {
        padding-top: 30px;
    }


    .container_1 .text hr {
        border: 1px solid orangered;
        margin-bottom: 20px;
    }
    .container_1 .text h2 {
        font-size: 24px;
        padding: 20px 0 5px 0;
    }

    .gallery_1 {
        gap: 10px;
        margin: 0 30px 30px 30px;
    }

    .gallery_1::scroll-marker-group {
        gap: .2em;
    }

    .gallery_1::scroll-button(left) {
        height: 40px;
        width: 40px;
        font-size: 14px;
        
    }

    .gallery_1::scroll-button(right) {
        height: 40px;
        width: 40px;
        font-size: 14px;
    }
    .gallery-item_1 img {
        height: 300px;
    }
    .inscription {
        padding: 60px 0;
    }

    .inscription form {
        padding: 10px;
        border-radius: 12px;
        width: 60%;
    }

    .inscription input {
        font-size: 12px;
        border-radius: 8px;
        border: none;
        position: relative;
        width: 60%;
    }

    .inscription p {
        font-size: 24px;
        padding-bottom: 40px;
        right: 20px;
    }

    .inscription button {
        padding: 7px 15px;
        font-size: 12px;
    }

    .line {
        padding: 0px 24px;
        background-color: rgb(0, 0, 0);
    }

    .line hr {
        border: 1px solid orangered;
    }
    footer {
        margin-top: 0;

    }

}

/* Responsive Tablets Paysages  */
@media(max-width: 900px){
    
    header nav ul{
        gap: 30px;
        font-size: 17px;
    }
    header button {
        padding: 12px 10px;
        font-size: 14px;
        color: white;
        background-color: orangered;
        border-radius: 12px;
        border: none;
    }
    .title {
        height: 330px;
        color: white;
    }
    .content {
        z-index: 88;
        position: absolute;
        top: 10%;
        left: 30px;
    }
    .content h1{
        font-size: 32px;
    }
    .content p{
        font-size: 32px;
    }
    .container {
        padding-top: 50px;
    }
    .container .text {
        padding: 0px 20px;
        margin: 0 20px;
    }

    .container .text h2 {
        font-size: 24px;
        padding: 20px 0 5px 0;
    }

    .container .text hr {
        width: 100%;
        border: 1px solid orangered;
        margin-bottom: 20px;
    }
    .container_1 .text {
        padding: 20px 35px;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 24px;

    }
    .movie p {
        font-weight: bold;
        font-size: 16px;
        visibility: visible;
    }
    .gallery-item img {
        height: 250px;
    }

    .gallery-item h3 {
        padding-top: 10px;
        font-size: 15px;
    }

    .gallery-item p {
        font-size: 14px;
    }
    .gallery {
        gap: 10px;
        padding: 0;
        /* margin: 0 24px; */
        display: flex;
        justify-content: start;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .gallery-item_1 {
        flex: 0 0 10em;
        scroll-behavior: smooth;
        scroll-snap-align: start;
    }

    .gallery-item_1::scroll-marker {
        content: "";
        height: .5em;
        width: .5em;
        background-color: rgba(173, 169, 169, 0.658);
        border-radius: 50%;
    }
    .gallery-item_1 h3 {
        padding-top: 10px;
        font-size: 20px;
    }

    .gallery-item_1 p {
        padding-bottom: 10px;
        font-size: 14px;
    }

    .container_1 {
        padding-top: 30px;
    }


    .container_1 .text hr {
        border: 1px solid orangered;
        margin-bottom: 20px;
    }
    .container_1 .text h2 {
        font-size: 24px;
        padding: 20px 0 5px 0;
    }

    .gallery_1 {
        gap: 10px;
        /* margin: 0 30px 30px 30px; */
    }

    .gallery_1::scroll-marker-group {
        gap: .2em;
    }

    .gallery_1::scroll-button(left) {
        height: 40px;
        width: 40px;
        font-size: 14px;
        
    }

    .gallery_1::scroll-button(right) {
        height: 40px;
        width: 40px;
        font-size: 14px;
    }
    .gallery-item_1 img {
        height: 300px;
    }
    .inscription {
        padding: 60px 0;
    }

    .inscription form {
        padding: 10px;
        border-radius: 12px;
        width: 60%;
    }

    .inscription input {
        font-size: 12px;
        border-radius: 8px;
        border: none;
        position: relative;
        width: 60%;
    }

    .inscription p {
        font-size: 24px;
        padding-bottom: 40px;
        right: 20px;
    }

    .inscription button {
        padding: 7px 15px;
        font-size: 12px;
    }

    .line {
        padding: 0px 24px;
        background-color: rgb(0, 0, 0);
    }

    .line hr {
        border: 1px solid orangered;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 20px;

    }
    .end {
        font-size: 15px;
        padding-bottom: 15px;
    }

}
@media(max-width: 1100px){
    header nav ul {
        gap: 30px;
        font-size: 20px;
    }
    header button {
        padding: 12px 10px;
        font-size: 14px;
        color: white;
        background-color: orangered;
        border-radius: 12px;
        border: none;
    }
    .title {
        height: 350px;
        color: white;
    }
    
    .content h1{
        font-size: 32px;
    }
    .content p{
        font-size: 32px;
    }
    .container {
        padding-top: 50px;
    }
    .container .text {
        padding: 0px 20px;
        margin: 0 20px;
    }

    .container .text h2 {
        font-size: 24px;
        padding: 20px 0 5px 0;
    }

    .container .text hr {
        width: 100%;
        border: 1px solid orangered;
        margin-bottom: 20px;
    }
    .container_1 .text {
        padding: 20px 35px;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 24px;

    }
    .movie p {
        font-weight: bold;
        font-size: 16px;
        visibility: visible;
    }
    .gallery-item img {
        height: 250px;
    }

    .gallery-item h3 {
        padding-top: 10px;
        font-size: 15px;
    }

    .gallery-item p {
        font-size: 14px;
    }
    .gallery {
        gap: 10px;
        padding: 0;
        margin: 0 24px;
        display: flex;
        justify-content: start;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .gallery-item_1 {
        flex: 0 0 10em;
        scroll-behavior: smooth;
        scroll-snap-align: start;
    }

    .gallery-item_1::scroll-marker {
        content: "";
        height: .5em;
        width: .5em;
        background-color: rgba(173, 169, 169, 0.658);
        border-radius: 50%;
    }
    .gallery-item_1 h3 {
        padding-top: 10px;
        font-size: 20px;
    }

    .gallery-item_1 p {
        padding-bottom: 10px;
        font-size: 14px;
    }

    .container_1 {
        padding-top: 30px;
    }


    .container_1 .text hr {
        border: 1px solid orangered;
        margin-bottom: 20px;
    }
    .container_1 .text h2 {
        font-size: 24px;
        padding: 20px 0 5px 0;
    }

    .gallery_1 {
        gap: 10px;
        margin: 0 30px 30px 30px;
    }

    .gallery_1::scroll-marker-group {
        gap: .2em;
    }

    .gallery_1::scroll-button(left) {
        height: 40px;
        width: 40px;
        font-size: 14px;
        
    }

    .gallery_1::scroll-button(right) {
        height: 40px;
        width: 40px;
        font-size: 14px;
    }
    .gallery-item_1 img {
        height: 300px;
    }
    .inscription {
        padding: 60px 0;
    }

    .inscription form {
        padding: 10px;
        border-radius: 12px;
        width: 60%;
    }

    .inscription input {
        font-size: 12px;
        border-radius: 8px;
        border: none;
        position: relative;
        width: 60%;
    }

    .inscription p {
        font-size: 24px;
        padding-bottom: 40px;
        right: 20px;
    }

    .inscription button {
        padding: 7px 15px;
        font-size: 12px;
    }

    .line {
        padding: 0px 24px;
        background-color: rgb(0, 0, 0);
    }

    .line hr {
        border: 1px solid orangered;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 20px;

    }
    .end {
        font-size: 15px;
        padding-bottom: 15px;
    }

}
@media(max-width: 1300px){
    .gallery-item img {
        height: 300px;
    }
    .gallery-item p{
        padding-bottom: 30px;
    }
    .container_1 {
        padding-top: 30px;
    }
}

@media(min-width: 768px){
    .menu-burger {
         display: none;
     }
}